body {
    background-color: aliceblue;
    font-family: monospace;
}

.container {
    display: flex;
    justify-content: center;
}

.container div {
    padding: 5px;
}

h1 {
    padding-top: 0.5em;
    text-align: center;
}

h2 {
    text-align: left;
    color: hotpink;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    border: 1px solid lightgray;
}

th {
    color: white;
    background-color: deeppink;
    padding: 5px;
}

td {
    vertical-align: text-top;
    padding: 10px;
}

code {
    background-color: lightgray;
}

p {
    margin: 0;
}
